

.divHorario {
    width: 98%;
    margin: 20px auto 20px auto;
}

.subDivHorario, imgUpdCupo,.subDivInforme,.subDivCerrarSesion {
    cursor: pointer;
}

/*tabla convocatorias*/

.headerConvocatorias {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.bodyConvocatorias {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.footerConvocatorias {
    width: 90%;
margin: 20px 0 0 10px;
/* margin-top: 20px; */
font-size: 14px;
font-weight: bold;
color: rgb(22,39,88);
/* bottom: -32px; */
}

#tHeaderConvocatoria {
    text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
    /*font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;*/
    font-weight: bold;
    text-align: center;
    line-height: 1.3em;
    font-size: 14px;
    color: #313030;
    width: 100%;
    border-bottom: 3px solid rgb(27, 47, 102);
}

#Table_ConvocatoriaEstudiante {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

    #Table_ConvocatoriaEstudiante tr {
        border-bottom: 1px solid rgb(190, 187, 187);
        height: 35px;
    }

#Table_ConvocatoriaEstudiante td:nth-child(1),#Table_ConvocatoriaEstudiante td:nth-child(3),#tHeaderConvocatoria td:nth-child(1),#tHeaderConvocatoria td:nth-child(3) {
    width: 17%;
}

#Table_ConvocatoriaEstudiante td:nth-child(2),#tHeaderConvocatoria td:nth-child(2) {
    width: 12%;
}
#Table_ConvocatoriaEstudiante td:nth-child(4),#Table_ConvocatoriaEstudiante td:nth-child(5),#tHeaderConvocatoria td:nth-child(4),#tHeaderConvocatoria td:nth-child(5) {
   width: 17%;
padding-left: 27px;
}

#Table_ConvocatoriaEstudiante td:nth-child(6),#tHeaderConvocatoria td:nth-child(6) {
    width: 10%;
}

/*estilos para la tabla horarios*/

/*Para el header*/

.tHorariosHeader {
    width: 98%;
    height: 100%;
    text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
    /*font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;*/
    font-weight: bold;
    text-align: center;
    line-height: 1.3em;
    font-size: 14px;
    color: #313030;
    border-bottom: 4px solid rgb(27, 47, 102);
}

.colHoGrupo, .colHoCupo, .colHoReservado {
    width: 8%;
}

.colHoSede, .colHoHorario, .colHoProfesor {
    width: 18%;
}

.colHoEstado {
    width: 10%;
}

.colHoMatricular {
    width: 12%;
}

.colHoGrupoCoR, .colHoCupoCoR {
    width: 5%;
}

.colHoSedeCoR,.colHoEstadoCoR {
    width: 7%;
}

.colHoHorarioCoR, .colHoProfesorCoR {
    width: 15%;
}

.msgEliminarCor {
    text-align: center;
    margin-top: 20px;
}
.cdivHorariosBody {
    width: 98%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
}

.tableHorarios {
    margin: 20px auto 20px auto;
    /*border: 1px solid #c8c8c8;*/
    background-color: #ffffff;
    width: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;*/
    color: #333;
    height: 31px;
    border-collapse: collapse;
    border-spacing: 0;
}
    /*.tableHorarios td, #tableHorarios th {
	border-top-color: white;
    vertical-align: middle;
	border-bottom: 3px solid rgb(27, 47, 102);
}*/
    .tableHorarios td {
        font-size: 12px;
        padding: 4px 7px 2px;
        vertical-align: top;
        color: #616161;
        height: 20px;
        vertical-align: middle;
    }

/*.tableHorarios tr:hover {
	background-color: #fff;
}*/



.row_selected {
    background-color: #fff;
}

.textMateria {
    /*text-indent: 20px;*/
    text-transform: capitalize;
}

.tdSelected {
    background-color: rgb(214, 214, 214);
}


/*ESTILOS PARA EL HEADER DE LA TABLA CURSOS*/
/*HEADER*/
.HeadCursos {
  width: 100%;
  height: 25px;
  border-bottom: 4px solid rgb(0, 77, 121);
  position: relative;

}

#tHeaderCursos {
   width: 100%;
  /* text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px; */
  /* font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif; */
  font-weight: bold;
  text-align: center;
  /* line-height: 1.3em; */
  font-size: 10pt;
  color: rgb(0, 77, 121);
}

#tHeaderCursos tr:first-child {
    line-height: 20px;
}
.colInd {
    width: 5%;
}
.colError {
     width: 3%;
}

#tHeaderCursos tr:first-child td:nth-child(7) {
    background-color: rgb(204,217,228);
}

.colMatricula {
   width: 23%;
}
.colCodigo {
    width: 10%;
}

.colMateria {
    width: 40%;
    text-align:left;
}

.colCreditos {
    width: 10%;
}

.colGrupo {
    width: 10%;
}


/*BODY*/


.BodyCursos {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
}

#tBodyCursos {
    margin: 0 auto 0 auto;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    width: 100%;
    border-radius: 3px;
    /*font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;*/
    color: #333;
    height: 50px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
}

    #tBodyCursos tr {
        border-bottom: 1px solid rgb(190, 187, 187);
        height: 31px;
    }


    #tBodyCursos td {
        height: 25px;
        vertical-align: middle;
    }

.hiddenRow {
    padding: 0 !important;
}
/*estilos para la tabla Cursos*/
#Table_Cursos {
    margin: 0 auto 0 auto;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    width: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;*/
    color: #333;
    height: 31px;
    border-collapse: collapse;
    border-spacing: 0;
}

    #Table_Cursos tbody {
        overflow-y: auto;
    }



    #Table_Cursos td, #Table_Cursos th {
        border-top-color: white;
        vertical-align: middle;
        border-bottom: 1px solid #DFDFDF;
    }

    #Table_Cursos th {
        text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
        /*font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;*/
        font-weight: normal;
        padding: 7px 7px 8px;
        text-align: center;
        line-height: 1.3em;
        font-size: 14px;
        color: #959595;
        background-color: #ffffff;
        border-bottom: 4px solid rgb(27, 47, 102);
    }

    #Table_Cursos td {
        font-size: 12px;
        padding: 4px 7px 2px;
        vertical-align: top;
        color: #616161;
        height: 20px;
        vertical-align: middle;
    }

    #Table_Cursos tr:hover {
        background-color: #f3f2f2;
    }


.imghide {
    visibility: hidden;
}
.imgVerticalMiddle {
    vertical-align: middle;
    /* margin-left: 20px;
    width: 30px;
    height: 30px;*/
}

.txtGrupoMatriculado {
    width: 30px;
    height: 14px;
    text-align: center;
}



.cImgMatriculado {
    z-index: 1;
        background: rgba( 255, 255, 255, .8 ) 
                url("..\\images\\registered.png")
                50% 50% 
                no-repeat;
}

.cImgDesMatriculado {
    z-index: 1;
        background: rgba( 255, 255, 255, .8 ) 
                url("..\\images\\notregistered.png")
                50% 50% 
                no-repeat;
}


.imgUpdCupo {
    cursor: pointer;
}

/*Clases para el dialogo de errores*/

.tituloMateriaError {
color: rgb(27, 47, 102);
text-align: center;
margin-bottom: 20px;
height: 8%;
position: relative;
font-size: 16px;
width: 80%;
margin-left: auto;
margin-right: auto;
}
.tituloMateriaError h5{
    line-height: 25px;
}

.cuerpoError {
    color: rgb(67, 67, 67);
    text-align: left;
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 65%;
    position: relative;
}

.cuerpoCorequisito {
color: rgb(67, 67, 67);
text-align: left;
margin-top: 3px;
width: 98%;
margin-left: auto;
margin-right: auto;
height: 72%;
position: relative;
overflow-y: auto;
}
.divfooterError {
    position: absolute;
    height: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: gray;
    border-top: 1px solid gray;
    font-size: smaller;
}

    .divfooterError span {
        margin-top: 10px;
    }


.tooltipError {
    color: rgb(67, 67, 67);
    text-align: left;
    width: auto;
    height: auto;
    z-index: 99999;
    position: absolute;
    border: solid 1px gray;
    background-color: white;
    font-size: small;
}

.tooltip {
    height: 30px;
}

/*Clases de morosidades*/
.cContentMorosidad {
    width: 90%;
    margin: 20px auto 0 auto;
    height: 82%;
}

.cMorDinero {
    width: 48%;
    height: 100%;
    float: left;
    border: 2px solid #DFDFDF;
    display: block;
}

.cMorAdmin {
    width: 48%;
    height: 100%;
    float: right;
    border: 2px solid #DFDFDF;
    display: block;
}

.cdivTituloMorosidad {
    width: 100%;
    height: 30%;
}

.cdivCuerpoMorosidad {
    width: 100%;
    height: 70%;
    background-color: #DFDFDF;
    overflow-y: auto;
    overflow-x: hidden;
}

.imgM {
    width: 30px;
    height: 30px;
    margin-top: 40px;
    display: table-cell;
    vertical-align: middle;
}

.imgTipoMorosidad {
    /*width: 50px;
    height: 70px;*/
    margin-top: 20px;
    margin-right: 20px;
    display: table-cell;
    vertical-align: middle;
}

.divImgEstadoMoroso {
    width: 10%;
    height: 100%;
    float: left;
    margin-left: 50px;
}

.divTituloMoroso {
    width: 69%;
    height: 100%;
    float: right;
    display: table;
}
    .divTituloMoroso span {
        font-size: 14px;
        font-weight: bold;
        color: gray;
        display: table-cell;
        vertical-align: middle;
    }

.cdivCuerpoMorosidad table {
    width: 100%;
    margin: 0 auto 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.tmPago tr {
    height: 50px;
}

.tmPago td:nth-child(2) {
    width: 60%;
    border-bottom: 1px solid gray;
}
.tmPago td:nth-child(3) {
    width: 24%;
    border-bottom: 1px solid gray;
}
.tmPago td:nth-child(1), .tmPago td:nth-child(4) {
    width: 8%;
}

.tmAdmin tr {
    height: 50px;
}

.tmAdmin td:nth-child(2) {
    width: 84%;
    border-bottom: 1px solid gray;
}
.tmAdmin td:nth-child(1), .tmAdmin td:nth-child(3) {
    width: 8%;
}
.tdTotalPago {
    font-size: 18px;
    font-weight: bold;
}

.tdMontos {
    text-align: right;
}

.morosidadAdmin_Dept {
    color: gray;
    font-size: small;
    font-weight: bold;
}

.infoMorosidadAd {
    color: gray;
    font-size: small;
}

.trFC {
    cursor: pointer;
}

#detFC {
width: 350px;
height: 350px;
z-index: 101;
position: fixed;
background-color: white;
/*font-family: serif;*/
border: 2px solid rgb(190, 190, 190);
box-shadow: 6px 5px 9px -9px black;
}
#detFC table:first-child {
    width: 100%;
}

#tabFC {
    height: 70%;
    border: none;
}
#infoDetalleFC,#infoPagoFC {
    width: 90%;
    max-height: 195px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}

#infoPagoFC table tr{
    height: 25px;
}

#detFC img {
    vertical-align: middle;
}

.fooinfoContact table {
text-align: center;
width: 100%;
position: absolute;
bottom: 0;
left: 0;
color: #444444;
}

#infoDetalleFC table tr{
    height: 18px;
}
#infoDetalleFC table tr:last-child td{
    border-top: 1px solid gray;
}

.titPago {
    font-weight: bold;
    color: rgb(29,60,126);
}
/*tooltip con flechas*/
#detFC:before {
position: absolute;
display: inline-block;
border-top: 17px solid transparent;
border-right: 21px solid #414141;
border-bottom: 17px solid transparent;
border-right-color: rgba(0, 0, 0, 0.2);
left: -23px;
top: 32%;
content: '';
}
#detFC:after {
position: absolute;
display: inline-block;
border-top: 17px solid transparent;
border-right: 21px solid #FFFFFF;
border-bottom: 17px solid transparent;
left: -20px;
top: 32%;
content: '';
}

.trInfoPago {
    margin-left: 10px;
    color: grey;
}
/*Clases del informe del matricula*/
/*filtro*/
.dFiltroInforme {
    width: 80%;
    margin: 10px auto 10px auto;
    border: solid 1px black;
    text-align: center;
}

    .dFiltroInforme input[type="text"] {
        width: 225px;
        height: 30px;
        margin: 10px 20px 10px 0px;
    }
    .dFiltroInforme select {
        width: 150px;
        height: 30px;
        margin: 10px 20px 10px 0px;
    }
/*Informe*/
.cuerpoInforme {
    width: 99%;
    height: 490px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 5px auto 0px auto;
}

/*.tInforme {width: 98%;margin: 0 auto 0 auto;font-family: serif;font-size: medium;border-spacing: 0;}


.tituloInforme{ background-color: rgb(29, 60, 126);color: white;}
.center{ text-align: center;}
.bold{ font-weight: bold;}
.tdModal {width: 7%;}
.tdSede{ width: 19%;}
.tdIdEstudiante{width: 10%;}
.trEstudiante {height: 25px;}
.trInPago{ height: 50px;}*/


.divTitulomatricular #lblModalidad {
font-size: 12px;
float: right;
font-weight: normal;
/*font-family: sans-serif;*/
color: gray;
}



#diagCambiaInforme {
width: 250px;
height: 150px;
z-index: 103;
position: fixed;
background-color: white;
/*font-family: serif;*/
font-size: 16px;
border: 2px solid rgb(190, 190, 190);
box-shadow: 6px 5px 9px -9px black;
text-align: center;
}

#diagCambiaInforme:before {
content: "";
position: absolute;
top: 152px;
left: 95px;
border-style: solid;
border-width: 26px 26px 0;
border-color: rgba(0, 0, 0, 0.2) transparent;
display: block;
width: 0;
z-index: 0;
}
#diagCambiaInforme:after {
content: "";
position: absolute;
bottom: -25px;
left: 96px;
border-style: solid;
border-width: 25px 25px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;

}
    #diagCambiaInforme table {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
    }
    #diagCambiaInforme table tr{
        height: 30px;
    }

/*Clases del div que contiene el curriculum*/
.cContentCurriculum {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*clases del div del ayuda*/
.cContentAyuda {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.imgAyuda {
    width: 100%;
}
/*se usa en las datatables*/
.dataTables_scroll
{
    overflow:auto;
}

/*clases del div de PINES*/
.cContentPin {
width: 90%;
margin: 10px auto 0 auto;
}

.cContentPin table {
width: 80%;
margin-left: auto;
margin-right: auto;
}

.cContentPin table tr:first-child{
    font-size: 18px;
color: rgb(29,60,126);
text-align: center;
height: 60px;
font-weight: bold;
}

.cContentPin table tr:nth-child(1n+2){
font-size: 15px;
/* color: black; */
text-align: left;
height: 45px;
/* top: 32px; */
/*font-family: sans-serif;*/
}
.cContentPin table tr:nth-child(1n+2) td:first-child{
font-weight: bold;
color: rgb(29,60,126);
text-align: center;
}

.spMensajeCoReq {

font-size: 13px;
    line-height: 25px;
}